<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.topografix.com/GPX/1/1"
            class="com.topografix.gpx.v1._1.v1Package"
            genModel="src/net/sf/smbt/gpx/xsd/gpx.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="gpx"
            class="com.topografix.gpx.v1._1.util.v1ResourceFactoryImpl"/>
   </extension>

</plugin>
