<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="net.sf.smbt.firmata.ubiquino.presentation.UbiquinoModelWizardID"
            name="Firmata Connection"
            class="net.sf.smbt.firmata.ubiquino.presentation.UbiquinoModelWizard"
            category="net.sf.smbt.ui"
            icon="icons/arduino.png">
         <description>Creates A New Firmata Configuration</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>
   
<!--
     <extension point="org.eclipse.ui.newWizards">
      <category
            id="net.sf.smbt.ui"
            name="%_UI_Wizard_category"/>
      <wizard
            id="net.sf.smbt.mdl.arduino.presentation.ArduinoModelWizardID"
            name="%_UI_ArduinoModelWizard_label"
            class="net.sf.smbt.mdl.arduino.presentation.ArduinoModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/arduino.png">
         <description>%_UI_ArduinoModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>
   
   <extension point="org.eclipse.ui.editors">
      <editor
            id="net.sf.smbt.firmata.ubiquino.presentation.UbiquinoEditorID"
            name="%_UI_UbiquinoEditor_label"
            icon="icons/full/obj16/UbiquinoModelFile.gif"
            extensions="ubiquino"
            class="net.sf.smbt.firmata.ubiquino.presentation.UbiquinoEditor"
            contributorClass="net.sf.smbt.firmata.ubiquino.presentation.UbiquinoActionBarContributor">
      </editor>
   </extension>
-->
</plugin>
