<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!--
   <extension
         point="org.eclipse.ui.views">
      <view
            class="net.sf.smbt.comm.ui.ViewPart1"
            id="net.sf.smbt.comm.ui.TopologyView"
            name="name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.sf.ubq.mtgui.perspective">
         <view
               id="net.sf.smbt.comm.ui.TopologyView"
               minimized="false"
               relationship="stack">
         </view>
      </perspectiveExtension>
   </extension>
-->
</plugin>
