<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="actions" name="Contributable Actions" schema="schema/actions.exsd"/>

   <extension
         point="org.eclipse.ui.views">
	      <view
             category="net.sf.smbt.ui"
             class="org.eclipse.ui.navigator.CommonNavigator"
             icon="icons/ubiquisense.png"
             id="net.sf.smbt.ui.navigator"
             name="Navigator">
	      </view>
       <category
             id="net.sf.smbt.ui"
             name="Ubiquisense">
       </category>
       <!--
       <view
             category="net.sf.smbt.ui"
             class="net.sf.smbt.ui.midi.views.MidiView"
             icon="icons/midiIcon.gif"
             id="net.sf.smbt.ui.midi.views.MidiView"
             name="Midi">
       </view>
       -->
       <view
             category="net.sf.smbt.ui"
             class="net.sf.smbt.ui.views.EZQTopologyView"
             icon="icons/new/topology1.gif"
             id="net.sf.smbt.ui.views.EZQTopologyView"
             name="Ubiquisense">
       </view>
      
   </extension>
    <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.sf.smbt.ui.ProximiSensePerspective"
            icon="icons/ubiquisense.png"
            id="net.sf.smbt.rcp.proximisense.perspective"
            name="Ubiquisense">
      </perspective>
      <!--
      <perspective
            class="net.sf.smbt.ui.UbiLayoutPerspective"
            icon="icons/new/world_of_motion_disc.png"
            id="net.sf.smbt.ui.layout.perspective"
            name="Surfaces">
      </perspective>
      <perspective
            class="net.sf.smbt.ui.UbiRoutingPerspective"
            icon="icons/new/communication(2).png"
            id="net.sf.smbt.ui.routing.perspective"
            name="Routing">
      </perspective>
      -->
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.sf.smbt.rcp.proximisense.perspective">
         <!--
         <view
               closeable="false"
               id="net.sf.smbt.ui.navigator"
               minimized="false"
               moveable="true"
               ratio="0.30"
               relationship="left"
               relative="net.sf.smbt.ui.views.EZQTopologyView"
               showTitle="true"
               visible="true">
         </view>
         -->
         <!--
         <view
               closeable="false"
               id="net.sf.smbt.ui.midi.views.MidiView"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="net.sf.smbt.ui.view.ez"
               minimized="false"
               moveable="true"
               ratio="0.33"
               relationship="bottom"
               relative="net.sf.smbt.ui.views.EZQTopologyView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="net.sf.smbt.ui.views.EZQTopologyView"
               minimized="false"
               moveable="true"
               ratio="0.66"
               relationship="bottom"
               relative="net.sf.smbt.ui.navigator"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
        -->
         
      </perspectiveExtension>
      <!--
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               closeable="false"
               id="net.sf.smbt.ui.navigator"
               minimized="true"
               moveable="true"
               ratio="0.3"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
      -->
      <!--
      <perspectiveExtension
            targetID="net.sf.smbt.ui.midi.perspective">
         <view
               closeable="false"
               id="net.sf.smbt.ui.midi.views.MidiView"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="net.sf.smbt.ui.view.ez"
               minimized="true"
               moveable="true"
               ratio="0.5"
               relationship="top"
               relative="org.eclipse.ui.console.ConsoleView"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="net.sf.smbt.ui.views.EZQTopologyView"
               minimized="true"
               moveable="true"
               ratio="0.66"
               relationship="bottom"
               relative="net.sf.smbt.ui.navigator"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      -->
      <!--
      <perspectiveExtension
            targetID="net.sf.smbt.ui.routing.perspective">
         <view
               closeable="false"
               id="net.sf.smbt.ui.view.ez"
               minimized="false"
               moveable="true"
               ratio="0.5"
               relationship="top"
               relative="org.eclipse.ui.console.ConsoleView"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
      -->
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="net.sf.smbt.ui.navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="net.sf.smbt.ui.navigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="net.sf.smbt.ui.ports.actionSet"
            label="Ports Action Set"
            visible="true">
         <menu
               icon="icons/new/connections.png"
               id="portsMenu"
               label="Ports &amp;MenuMenu">
            <separator
                  name="connectionsGroup">
            </separator>
         </menu>
         <action
               class="net.sf.smbt.ui.actions.BrowseUsbPorts"
               icon="icons/new/usb.png"
               id="net.sf.smbt.ui.actions.BrowseUsbPorts"
               label="&amp;Browse Serial Port Actiontion"
               toolbarPath="Ports"
               tooltip="Browse USB Ports">
         </action>
      </actionSet>
   </extension>
  
    <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="net.sf.smbt.ui.console.SerialConsoleFactory"
            icon="icons/new/report.png"
            label="Serial">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="net.sf.smbt.ui.console.SerialConsolePageParticipant"
            id="net.sf.smbt.ui.serialConsolePageParticipant">
         <enablement></enablement>
      </consolePageParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePatternMatchListeners">
      <consolePatternMatchListener
            class="net.sf.smbt.ui.console.SmbtPatternMatchListenerDelegate"
            id="net.sf.smbt.ui.consolePatternMatchListener"
            regex="toto">
         <enablement></enablement>
      </consolePatternMatchListener>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.views">
      <view
            class="net.sf.smbt.ui.sniffer.CmdSnifferView"
            icon="icons/new/bell.png"
            id="net.sf.smbt.ui.SnifferView"
            name="Events Sniff View"
            restorable="true">
      </view>
   </extension>
   -->
   <!--
   <extension
         id="net.sf.smbt.ui.builder.UbiquisenseBuilder"
         name="Ubiquisense Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="net.sf.smbt.ui.builder.UbiquisenseBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="net.sf.smbt.ui.UbiquisenseNature"
         name="Ubiquisense Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.sf.smbt.ui.builder.UbiquisenseNature">
         </run>
      </runtime>
      <builder
            id="net.sf.smbt.ui.builder.UbiquisenseBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="net.sf.smbt.ui.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="net.sf.smbt.ui.builder.ToggleNatureAction"
               enablesFor="+"
               icon="icons/ubiquisense.png"
               id="net.sf.smbt.ui.addRemoveNatureAction"
               label="Add/Remove Ubiquitous Nature"
               menubarPath="additions"
               style="toggle">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="net.sf.smbt.ui.drlProblem"
         name="Drools Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="net.sf.smbt.ui.startup.UIStartup">
      </startup>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="net.sf.smbt.ui"
            name="Ubiquisense">
      </category>
      <wizard
            category="net.sf.smbt.ui"
            class="net.sf.smbt.ui.wizards.project.UbqProjectNewWizard"
            descriptionImage="icons/ubiquisense.png"
            finalPerspective="net.sf.smbt.rcp.proximisense.perspective"
            icon="icons/ubiquisense.png"
            id="net.sf.smbt.ui.wizards.project.UbqProjectNewWizard"
            name="Ubiquisense Project"
            preferredPerspectives="net.sf.smbt.rcp.proximisense.perspective">
         <description>
            Ubiquisense Project. Enabling natural user interactions driven behaviors for connected applications configurations.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ubiquisenseNature.png"
            id="net.sf.smbt.ui.ubqImage"
            natureId="net.sf.smbt.ui.UbiquisenseNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="net.sf.smbt.ui.properties.EZMojoNodePropertyPage"
            id="net.sf.smbt.ui.properties.samplePropertyPage"
            name="OSC Routings"
            nameFilter="*.*"
      >
         <enabledWhen>
            <instanceof
                  value="net.sf.smbt.ezmojo.EZMojoNode">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.propertyPages">
         <!--
      <page
            class="net.sf.smbt.ui.properties.EZMojoNodeScriptsPage"
            id="net.sf.smbt.ui.properties.samplePropertyPage2"
            name="OSC Triggers"
            nameFilter="*.*"
      >
         <enabledWhen>
            <instanceof
                  value="net.sf.smbt.ezmojo.EZMojoNode">
            </instanceof>
         </enabledWhen>
      </page>
      -->
      <page
            class="net.sf.smbt.ui.properties.EZVarPropertyPage"
            id="net.sf.smbt.ui.properties.ezVarPropertyPage"
            name="OSC Variables"
            nameFilter="*.*"
      >
         <enabledWhen>
            <instanceof
                  value="net.sf.smbt.ezmojo.EZVar">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="net.sf.smbt.ui.properties.EZTargetPropertyPage"
            id="net.sf.smbt.ui.properties.ezTargetPropertyPage"
            name="OSC Target"
            nameFilter="*.*"
      >
         <enabledWhen>
            <instanceof
                  value="net.sf.smbt.ezmojo.EZMojoTarget">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sf.smbt.ui.preferences.ConsolePreferencePage"
            id="net.sf.smbt.ui.preferences.ConsolePreferencePage"
            name="Ubiquisense Console Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.sf.smbt.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
   
   
   
   
   
   
   

  <!-- 
     <extension point="org.eclipse.ui.themes">
      <themeElementCategory
       id="com.xyz.ThemeCategory"
       class="com.xyz.XYZPreview"
       label="XYZ Elements"/>
      <colorDefinition 
        id="com.xyz.Forground"
        categoryId="com.xyz.ThemeCategory"
        label="XYZ Foreground Color"
        value="COLOR_BLACK">
         <colorValue
          value="COLOR_WHITE"
          os="linux"
          ws="gtk"/>
        <description>
        This color is used for the foreground color of the XYZ plugin editor.
        </description>
      </colorDefinition>
      <colorDefinition 
        id="com.xyz.Background"
        categoryId="com.xyz.ThemeCategory"        
        label="XYZ Background Color">
        <colorFactory
         class="org.eclipse.ui.themes.RGBBlendColorFactory"
         plugin="org.eclipse.ui">
         <parameter
          name="color1"
          value="COLOR_WHITE"/>
         <parameter
          name="color2"
          value="COLOR_BLUE"/>         
        </colorFactory>
        <colorValue
         value="COLOR_BLACK"
         os="linux"
         ws="gtk"/>
        <description>
        This color is used for the background color of the XYZ plugin editor.
        </description>
      </colorDefinition>      
      <fontDefinition
        id="com.xyz.TextFont"
        categoryId="com.xyz.ThemeCategory"        
        label="XYZ Editor Font"
        defaultsTo="org.eclipse.jface.textfont">
        <description>
        This font is used by the XYY plugin editor.
        </description>
      </fontDefinition>
      <data
       name="com.xyz.EditorMarginWidth"
       value="5"/>      
      <theme
        id="com.xyz.HarshTheme"
        label="Harsh Colors for XYZ">
        <colorOverride
         id="com.xyz.Forground"
         value="COLOR_CYAN"/>
        <colorOverride
         id="com.xyz.Background"
         value="COLOR_MAGENTA"/>
      <data
           name="com.xyz.EditorMarginWidth"
           value="1"/>      
      </theme>        
   </extension> 
-->   
   
   
   
   
    <extension
         point="org.eclipse.ui.themes">
      <colorDefinition
            id="accessibility.background"
            label="Background color for our example view"
            value="COLOR_YELLOW">
      </colorDefinition>
      <theme
            id="org.eclipse.ui.ide.systemDefault">
         <colorOverride
               id="accessibility.background"
               value="COLOR_WIDGET_BACKGROUND">
         </colorOverride>
      </theme>
   </extension>
   <!--
    <extension
          point="org.eclipse.ui.perspectives">
       <perspective
             class="net.sf.smbt.ui.MidiPerspective"
             icon="icons/midiIcon.gif"
             id="net.sf.smbt.ui.midi.perspective"
             name="Midi">
       </perspective>
    </extension>
   -->
    <extension
          point="org.eclipse.ui.views">
       <view
             allowMultiple="false"
             category="net.sf.smbt.ui"
             class="net.sf.smbt.ui.widgets.EZView"
             icon="icons/ubiquisense.png"
             id="net.sf.smbt.ui.view.ez"
             name="Traffic"
             restorable="true">
       </view>
    </extension>
   
   
   
 
</plugin>
